.home-header-container{
    height: 60px;
    width: 100%;
    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;
        .left-content{
            width: 25%;
            display: flex;
            align-items: center;
            i{
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
            .header-logo{
                background: url('../../assets/logo.svg') center center no-repeat;
                width: 45%;
                margin-left: 15px;
                height: 100%;
                cursor: pointer;
            }
        }
        .center-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .child-content{
                .subs-title{
                    font-weight: 400;
                    font-size: 12px;
                    color: grey;
                }
            }
            
        }
        .right-content{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            .support{
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
                i{
                    font-size: 15px;
                    color: grey;
                    margin-right: 15px;
                }
            }
            .lag-vi{
                cursor: pointer;
                opacity: 0.2;
                &.active{
                    opacity: 1;
                    color: orange;  
                }
                &:hover{
                    opacity: 0.8;
                }
            }
            .lag-en{
                margin: 0 10px;
                opacity: 0.2;
                cursor: pointer;
                &.active{
                    opacity: 1;
                    color: blue;  
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}
.home-header-banner{
    background: url('../../assets/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 642px;
    display: flex;
    flex-direction: column;
    .content-up{
        height: 50%;
        padding-top: 15px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));
        .title-1{
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 5px;
            margin-top: 30px;
        }
        .title-2{
            text-align: center;
            font-size: 30px;
            color: white;
            font-weight: 500;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }
        .search{
            margin: 0 auto;
            padding: 10px;
            width: fit-content;
            background-color: #f7d800;
            border-radius: 25px;
            i{
                margin: 0 5px;
            }
            input{
                height: 30px;
                width: 360px;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }
    .content-down{
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 1));
        .options{
            display: flex;
            justify-content: center;
            .option-child{
                min-width: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon-child{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 0px 1px 1px grey;
                    .image-icon{
                        width: 50px;
                        height: 50px;
                        background: url('../../assets/khamchuyenkhoa.png');
                        background-repeat: no-repeat;
                        background-size: 32px;
                        background-position: center;
                    }
                }
                .text-child{
                    font-size: 16px;
                    font-weight: 600;
                    color: #333;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        color: #49bce2;
                    }
                }
            }
        }
    }
}